*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEE823;
}

.result {
    background-color: #f7e7e7;
    width: 100px;
    height: 100px;
}