*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEE823;
    height: 100vh;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    height: 420px;
    width: 300px;
    box-shadow: #C8AEAA 0px 3px 8px;
    border-radius: 30px;
}

.number :hover{
    background-color: #a9a9a9;
    cursor: pointer;
}

.output {
    height: 100px;
    width: 300px;
    background-color: #f7e7e7;
    border-radius: 30px 30px 0 0;
    font-size: 2rem;
    display: flex;
    padding-top: 40px;
    padding-left: 10px;
    flex-direction: row;
}

.number {
    height: 320px;
    width: 300px;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    display: grid;
    grid-template-columns: 80px 70px 70px 80px;
}

.number>button{
    font-size: 1.5rem;
    border-radius: 30px;
    border-style: none;
    background-color: #fff;
}

.equal{
    grid-column: 3/5;
}
